@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/spacing" as *;

.patientSearchPage {
  min-height: 100vh;
  background-color: $layer-02;
}

.searchSection {
  margin-bottom: 2rem;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-08;
  @include type-style("body-compact-01");
  color: $text-secondary;
}

.noResultsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-08;
}

.noResultsText {
  @include type-style("body-compact-01");
  color: $text-secondary;
}

.resultsContainer {
  margin-top: $spacing-08;
}

.resultsHeader {
  min-block-size: fit-content !important;
  @include type-style("heading-compact-02");
  color: $text-primary;
}
