@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/spacing" as *;

.patientSearchPage {
  min-height: 100vh;
  background-color: $layer-02;
}

.searchSection {
  margin: $spacing-09 $spacing-12 $spacing-08;
}

.noResultsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-08;
}

.noResultsText {
  @include type-style("body-compact-01");
  color: $text-secondary;
}

.resultsContainer {
  margin: 0 $spacing-12;
  box-shadow: 0 2px 6px 0 $shadow;
}

.resultsHeader {
  min-block-size: fit-content !important;
  @include type-style("heading-compact-02");
  color: $text-primary;
}
