@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;

.sectionColumn {
  margin-bottom: $spacing-04; // Add margin to all sections

  &:last-child {
    margin-bottom: $spacing-05; // Add margin to the last section
  }

  &:first-child {
    margin-top: $spacing-07; // Add margin to the first section
  }
}
