@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;

.sectionContainer {
  padding: 0 !important;
}

.sectionColumn {
  margin: 0 0 $spacing-07 0 !important; // Add margin to all sections

  &:last-child {
    margin-bottom: 0 !important; // Add margin to the last section
  }
}
