@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/breakpoint" as *;

.main {
  background-color: $layer-02;
  padding: $spacing-06 $spacing-12;
  padding-inline: calc($spacing-12 + $spacing-02);
  padding-top: $spacing-08;
}

.headerButton {
  position: fixed !important;
  top: $spacing-02;
  right: $spacing-09;
  padding-inline: $spacing-05 !important;
  z-index: 9999;
  background-color: $support-success;

  &:hover {
    background-color: $green-60;
  }

  &:active {
    background-color: $green-70;
  }
}

@include breakpoint-down(lg) {
  .main {
    padding: $spacing-06 $spacing-08;
  }
}
