@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/breakpoint" as *;



.main {
  background-color: $layer-02;
  padding: $spacing-06 $spacing-12;
  padding-inline: calc($spacing-12 + $spacing-02);
  padding-top: $spacing-08;
}

.patientSearchResult {
  box-shadow: 0 2px 6px 0 $shadow;
  margin-top: $spacing-08;
}

.resultsTitle {
  min-block-size: fit-content !important;
  @include type-style("heading-compact-02");
  color: $text-primary;
}

.patientSearchTableBody {
  td {
    width: 15%;
  }
}

.scheduledStatus {
  background-color: $blue-20 !important;
  color: $blue-70 !important;
}

.arrivedStatus {
  background-color: $yellow-20 !important;
  color: $yellow-70 !important;
}

.checkedInStatus {
  background-color: $green-20 !important;
  color: $green-70 !important;
}

.buttonWrapper {
  margin-right: 2*$spacing-13 + $spacing-05;
}

@include breakpoint-down(lg) {
  .main {
    padding: $spacing-06 $spacing-08;
  }
}
