@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/breakpoint" as *;

.main {
  background-color: $layer-02;
  padding: $spacing-06 $spacing-12;
}

.patientSearchResult {
  box-shadow: 0 2px 6px 0 $shadow;
  margin-top: $spacing-08;
}

.resultsTitle {
  min-block-size: fit-content !important;
  @include type-style("heading-compact-02");
  color: $text-primary;
}

.patientSearchTableBody {
  td {
    width: 15%;
  }
}

@include breakpoint-down(lg) {
  .main {
    padding: $spacing-06 $spacing-08;
  }
}
