@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;


.formSection {
  display: flex;
  flex-direction: column;
  gap: 16px;

.sectionTitle {
  @include type-style("heading-compact-02");
  font-size: 16px;
  font-weight: 400;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.col {
  flex: 1 1;
}

.addressFieldWrapper {
  position: relative;
  width: 100%;
}

.suggestionsList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: $background;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 4px 8px $shadow;
  border: 1px solid $border-subtle-01;
  border-top: none;
  margin-top: -1px;
}

.suggestionItem {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid $border-subtle-01;
  
  &:hover {
    background-color: $layer-hover-01;
  }
  
  &:last-child {
    border-bottom: none;
  }
}

.suggestionName {
  font-size: 0.875rem;
  font-weight: 500;
}

.suggestionParent {
  font-size: 0.75rem;
  color: $text-secondary;
  margin-top: 2px;
}
}