@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/spacing" as *;

.emptyState {
  @include type-style("body-long-01");
  height: -webkit-fill-available;
  margin-top: -$spacing-13;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 5rem;
  justify-content: center;
  h3 {
    @include type-style("heading-compact-02");
  }
}

.formList > div:last-child li[role="separator"] {
  display: none;
}
