@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;

.accordion {
  background-color: var(--cds-layer-01);
}

.accordionItem {
  :global(.cds--accordion__content),
  :global(.cds--accordion__wrapper) {
    padding-block: 0 !important;
    padding-inline: 0 !important;
    margin-block: 0 !important;
    margin-inline: 0 !important;
  }
}

.errorMessage {
  color: var(--cds-text-error);
  padding: $spacing-05;
}

.emptyState {
  @include type-style("body-compact-01");
  background-color: $background;
  padding: $spacing-06 $spacing-05;
  text-align: center;
}

.childRow {
  display: flex;
  align-items: center;
  padding-left: $spacing-07;
  color: var(--cds-text-secondary);
}

.observationImage,
.observationVideo {
  width: $spacing-12;
  height: $spacing-12;
  object-fit: cover;
  cursor: pointer;
  display: block;
}

.mediaPreviewModal {
  :global(.cds--modal-container) {
    width: calc($spacing-05 * 25);
  }

  :global(.cds--modal-content) {
    padding: $spacing-05;
  }

  .mediaPreviewContainer {
    aspect-ratio: 3/4;
    background: var(--cds-layer-02);
    display: flex;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
