@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;

.accordion {
  background-color: var(--cds-layer-01);
}

.accordionItem {
  :global(.cds--accordion__content),
  :global(.cds--accordion__wrapper) {
    padding-block: 0 !important;
    padding-inline: 0 !important;
    margin-block: 0 !important;
    margin-inline: 0 !important;
  }
}

.errorMessage {
  color: var(--cds-text-error);
  padding: $spacing-05;
}

.emptyState {
  @include type-style("body-compact-01");
  background-color: $background;
  padding: $spacing-06 $spacing-05;
  text-align: center;
}

.childRow {
  display: flex;
  align-items: center;
  padding-left: $spacing-07;
  color: var(--cds-text-secondary);
}

.observationImage,
.observationVideo {
  width: $spacing-12;
  height: $spacing-12;
  object-fit: cover;
  cursor: pointer;
  display: block;
}

.mediaPreviewModal {
  :global(.cds--modal) {
    position: fixed !important;
    top: $spacing-10 !important;
    left: 0 !important;
    width: 100vw !important;
    height: calc(100vh - $spacing-10) !important;
    z-index: 99999 !important;
  }

  :global(.cds--modal-container) {
    width: 65vw;
    max-width: calc($spacing-13 * 12);
    height: 70vh;
  }

  :global(.cds--modal-content) {
    padding: $spacing-03;
    padding-top: $spacing-08;
    height: 100%;
  }

  :global(.cds--modal-body) {
    height: 100%;
    padding: 0;
  }

  :global(.cds--modal-close) {
    position: absolute !important;
    top: $spacing-03 !important;
    right: $spacing-03 !important;
  }

  .mediaPreviewContainer {
    width: 100%;
    height: 100%;
    background: var(--cds-layer-02);
    display: flex;
    align-items: center;
    justify-content: center;

    img,
    video {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
