@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;

.visitsTableWrapper {
  position: relative;
}

.table {
  td {
    @include type-style("body-compact-01");
  }
}

.activeStatus {
  color: $green-50;
}

.completedStatus {
  color: $red-50;
}

.ipdDashboardLink {
  display: inline-flex;
  align-items: center;
  gap: $spacing-02;
  @include type-style("label-01");
}
