@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;

:global([data-split-view] #main-display-area #forms-table) {
  div[id^="accordion-item"] {
    overflow-x: auto;
  }
}

.formsTableBody {
  td {
    width: 50%;
    border-block-end: 0 !important;
  }
}

.modalHeading {
  display: flex;
  align-items: center;
  gap: $spacing-03;
}

.customAccordianItem {
  background-color: $layer-01;
  :global(.cds--accordion__content) {
    margin-inline-start: 0rem !important;
    padding-inline: 0rem !important;
  }
  :global(.cds--accordion__wrapper) {
    padding-block: 0rem !important;
    padding-block-end: 0rem !important;
  }
}
