.opdVisitGroup {
  display: flex;
  align-items: center;

  .visitButton {
    min-width: 16rem;
  }

  .visitDropdown :global(.cds--list-box__menu) {
    left: auto !important;
    min-width: 16rem;
    right: 4rem;
    margin-top: 0.5rem;
  }
}
