.opdVisitGroup {
  display: flex;
  align-items: center;

  .visitButton {
    min-width: 250px !important;
  }


  :global(.cds--list-box__menu) {
    left: auto !important;
    min-width: 250px !important;
    right: 4rem !important;
    margin-top: 0.5rem !important;
  }
}
