@use "@carbon/react/scss/spacing" as *;

.searchPatient {
  display: flex;
  justify-content: space-between;
  column-gap: 0.75rem;
  align-items: center;
  height: 100%;
  padding: 1.5rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}
