@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/breakpoint" as *;

.searchPatientContainer {
  display: flex;
  align-items: center;
  background: $layer-02;
  box-shadow: 0 2px 6px 0 $shadow;
}

.searchPatient {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  padding: $spacing-06;
}

.searchButton {
  padding-inline: $spacing-08 !important;
}

.orDivider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    width: 1px;
    height: 20px;
    background: $border-subtle-02;
  }

  &::after {
    content: "";
    width: 1px;
    height: 20px;
    background: $border-subtle-02;
  }
}

.advanceSearchContainer {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  min-width: 0;
}

.advanceInputWrapper {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

.errorMessage {
  position: absolute;
  top: 100%;
  color: $support-error;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  white-space: nowrap;
}

.searchTypeDropdown {
  width: 10rem;
}

@include breakpoint-down(lg) {
  .searchPatientContainer {
    flex-direction: column;
  }

  .searchPatient {
    width: 100%;
  }

  .orDivider {
    flex-direction: row;
    width: 50%;

    &::before {
      height: 1px;
      flex: 1;
    }

    &::after {
      height: 1px;
      flex: 1;
    }
  }
}
