// HeaderWSideNav.module.scss
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/motion" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/breakpoint" as *;

.headerWSideNav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.breadcrumb {
  margin-left: $spacing-05;

  @include breakpoint-down(md) {
    :global(.cds--breadcrumb-item) {
      display: none;
    }

    // Show only the non-current items
    :global(.cds--breadcrumb-item--current) {
      display: inline-block; // or flex, depending on your base styles
    }
  }
}

.sideNavItems {
  border-right: 1px solid $border-subtle-01;
  :global(.cds--side-nav__items) {
    padding: 0rem !important;
  }
}
