// NotificationContainer.module.scss
@use "@carbon/react/scss/spacing" as *;

.notificationContainer {
  position: fixed;
  top: $spacing-10;
  right: $spacing-05;
  z-index: 9000;
  display: flex;
  flex-direction: column;
  gap: $spacing-03;
  align-items: end;
}
