@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/spacing" as *;

.criticalCell {
  color: #da1e28 !important;
}

.successCell {
  color: #198038 !important;
}

.warningCell {
  color: #f1c21b !important;
}

.alertCell {
  color: #ff832b !important;
}

.emptyState {
  padding: $spacing-07 $spacing-05;
  text-align: center;

  @include type-style("body-compact-01");
}

// Add more custom styles as needed
.expandable-data-table-item {
  .cds--accordion__content {
    margin-inline-start: 0rem !important;
    padding-inline: 0rem !important;
  }
  .cds--accordion__wrapper {
    padding-block: 0rem !important;
    padding-block-end: 0rem !important;
  }
  .cds--child-row-inner-container {
    padding-block: 0rem !important;
    padding-block-end: 0rem !important;
    p {
      font-size: 14px;
      font-weight: 600;
      padding: 0.5rem;
    }
  }
}
