@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: $spacing-04;
}

.controls {
  align-content: center;
  padding-block: $spacing-04 !important;
}

@include breakpoint-down(lg) {
  .header {
    flex-direction: column;
  }
}
