@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;

.photoUploadSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-05;
  width: $spacing-05 * 9;
  height: $spacing-05 * 11;
  background: #f4f4f4;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    padding: $spacing-03;
    object-fit: contain;
    display: block;
  }
}

.removeButton {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  padding: 0 !important;
  z-index: 10 !important;
  min-height: auto !important;
}

.wrapButton {
  padding-right: $spacing-05;
}

.imagePreviewContainer {
  width: $spacing-13 * 3.75;
  height: $spacing-13 * 2.5;
  margin: 0 auto;
  
  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: $spacing-05;
  margin-top: $spacing-05;
}

.errorMessage {
  color: $support-error;
  font-size: $spacing-04;
  line-height: $spacing-05;
  font-weight: 400;
  margin-top: $spacing-03;
}
