@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;

.photoUploadSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 144px;
  height: 176px;
  background: #f4f4f4;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    padding: 4px;
    padding-top: 32px;
    object-fit: contain;
    display: block;
  }
}

.photoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeButton {
  position: absolute !important;
  top: 0px !important;
  right: 4px !important;
  bottom: auto !important;
  left: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 10 !important;
  min-height: auto !important;
  width: auto !important;
  height: auto !important;
  transform: none !important;
}

.wrapButton {
  padding-right: $spacing-05;
}

.imagePreviewContainer {
  display: flex;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.confirmButton {
  display: block;
  margin: $spacing-05 auto 0;
}

.errorMessage {
  color: $support-error;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin-top: 0.5rem;
}
