@use "@carbon/react/scss/spacing" as *;

.photoUploadSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 144px;
  height: 176px;
  background: #f4f4f4;
  justify-content: center;
}

.wrapButton {
    padding-right: $spacing-05;
}

.imagePreviewContainer {
  display: flex;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
  }
}

.confirmButton {
  display: block;
  margin: auto;
}
