@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;

.diagnosesTableTitle {
  background: $background !important;
  min-block-size: fit-content !important;
  border-bottom: 1px solid $border-subtle-02;
  p {
    @include type-style("heading-compact-02");
    color: $text-primary;
  }
}

.diagnosisName {
  @include type-style("heading-compact-01");
  display: flex;
  align-items: center;
  gap: $spacing-02;
}

.diagnosesTableBodyEmpty {
  @include type-style("body-compact-01");
  background-color: $background;
  border-top: 1px solid $border-subtle-02;
  padding: $spacing-06 $spacing-05;
  text-align: center;
}

.diagnosesTableBody {
  :global(.cds--data-table td:nth-child(1)) {
    min-width: calc(100vw * 0.3);
  }
}

.confirmedCell {
  background-color: $red-20 !important;
  color: $red-70 !important;
}

.provisionalCell {
  background-color: $yellow-20 !important;
  color: $yellow-70 !important;
}
