.diagnosesWrapper {
  width: 100%;
}

.tableHeader {
  display: flex;
  padding: 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  font-size: 0.875rem;
  color: #161616;
}

.diagnosesColumn {
  flex: 1;
  padding-left: 1rem;
}

.recordedByColumn {
  width: 180px;
padding-right: 1rem;
}

.accordionItem {
  :global(.cds--accordion__content) {
    background-color: #f4f4f4;
    padding-inline: 0px;
  }


  :global(.cds--accordion__wrapper) {
   padding-inline: 0px !important;
   background-color: #f4f4f4;
  }

  :global(.cds--accordion__item) {
    padding-inline: 0;
    background-color: white;
    border: none;
  }
} 

.diagnosisRow {
  display: flex;
  align-items: center;
}

.diagnosisCell {
  flex: 1;
  padding-left: 1rem;
}

.diagnosisMainLine {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.diagnosisName {
  font-weight: 600;
}

.recorderCell {
  width: 200px;
  text-align: right;
  font-size: 0.875rem;
  color: #161616;
}

.noData {

  text-align: center;
  color: #525252;
}
