@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;

//TODO Use Variable
.sectionTitle {
  font-weight: 600;
  padding: $spacing-05;
  background-color: $layer-01 !important;
}

.sectionTile {
  @include type-style("heading-compact-02");
  padding: 0 !important;
  background-color: $background !important;
  box-shadow: 0px 1px 1px 1px $border-subtle-02 !important;
  min-block-size: fit-content !important;
}
