@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.page {
  overflow-y: auto;
  margin: 0 auto;
  margin-block: $spacing-10;
  margin-inline: calc($spacing-12 + $spacing-05);
  box-shadow: 0px 2px 6px 0px $shadow;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $layer-01;
  height: 54px;
   position: sticky;
  top: 0; /* Sticks to the very top */
  z-index: 100; 
}

.title {
  @include type-style("heading-compact-02");
  color: $text-primary;
  margin-left: 1rem;
}

.addBtn {
  height: 54px !important;
  align-items: center;
}

