@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;

.conditionsTableTitle {
  background: $background !important;
  min-block-size: fit-content !important;
  border-bottom: 1px solid $border-subtle-02;
  p {
    @include type-style("heading-compact-02");
    color: $text-primary;
  }
}

.conditionName {
  @include type-style("heading-compact-01");
}

.conditionsTableBody {
  :global(.cds--data-table td:nth-child(1)) {
    min-width: calc(100vw * 0.3);
  }
  :global(.cds--data-table td:nth-child(2)) {
    max-width: calc(100vw * 0.2);
  }
  :global(.cds--data-table td:nth-child(3)) {
    max-width: calc(100vw * 0.075);
  }
  :global(.cds--data-table td:nth-child(4)) {
    max-width: calc(100vw * 0.075);
  }
}

.activeStatus {
  color: $green-50;
}

.inactiveStatus {
  color: $cool-gray-20;
}
