@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;

.sectionWrapper {
  box-shadow: 0px 2px 6px 0px $shadow;
}

.sectionName {
  min-block-size: fit-content !important;
  p {
    @include type-style("heading-compact-02");
    color: $text-primary;
  }
}

.divider {
  height: $spacing-07;
  background-color: $layer-01;
}

.widgetError {
  padding: $spacing-05;
  background-color: $support-error-inverse;
  border: 1px solid $support-error;
  border-radius: 4px;
  color: $text-error;
  
  p {
    margin: 0;
    @include type-style("body-compact-01");
  }
}

.widgetLoading {
  padding: $spacing-05;
  color: $text-secondary;
  @include type-style("body-compact-01");
  text-align: center;
}

.noContent {
  padding: $spacing-05;
  color: $text-secondary;
  @include type-style("body-compact-01");
  font-style: italic;
  text-align: center;
}
