@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/theme' as *;

.stopMedicationFormTile {
  margin: $spacing-03;
  background-color: $background !important;
  overflow: hidden !important;
}

.formTitle {
  @include type-style('heading-compact-02');
  padding-bottom: $spacing-05;
}

.medicationName {
  @include type-style('body-compact-01');
  font-weight: 600;
  padding-bottom: $spacing-05;
}

.column {
  padding-bottom: $spacing-05;
}

.fieldLabel {
  @include type-style('label-01');
  display: block;
  margin-bottom: $spacing-02;
  color: $text-secondary;
}

.noteLabelRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.noteCounter {
  @include type-style('label-01');
  color: $text-secondary;
}
