@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;

.accordianHeader {
  background-color: $layer-01;
}

.accordionTitle {
  display: flex;
  align-items: center;
  gap: $spacing-03;
  font-weight: 600;
}

/* Lab test item styles */
.labBox {
  padding: $spacing-04;
  background-color: $layer-02;
}

.labHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.labHeader {
  display: flex;
  align-items: center;
  gap: $spacing-03;
  margin-bottom: $spacing-03;
}

/* Test type styles */
.testType {
  color: $text-secondary;
  font-size: 0.875rem;
  font-weight: normal;
}

/* Result display styles */
.labResult {
  width: 100%;
  background-color: $background-hover;
  padding: $spacing-04;
  border-radius: $spacing-02;
  font-weight: 600;
}

.accordionItem {
  :global(.cds--accordion__content),
  :global(.cds--accordion__wrapper) {
    padding-block: 0% !important;
    padding-inline: 0% !important;
    margin-block: 0% !important;
    margin-inline: 0% !important;
  }
}

.labInvestigationTableBodyError {
  padding: $spacing-06 $spacing-05;
  text-align: center;

  @include type-style("body-compact-01");
}
