@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;

// Form Container

.formSection {
  margin: 0 auto;
  width: calc(100% - ($spacing-13 + $spacing-05));
  max-width: $spacing-13 * 9 + $spacing-05 + $spacing-02;
  box-shadow: 0 $spacing-01 $spacing-03 0 $shadow;
  display: flex;
  flex-direction: column;
  margin-top: $spacing-08;
}

.patientDetailsHeader {
    display: flex;
    align-content: center;
  }

.sectionTitle {
  @include type-style("heading-compact-02");
}

.formSectionTitle {
  @include type-style("body-compact-02");
}


.identifierField {
  width: $spacing-13 + $spacing-13 + $spacing-07;
  padding-bottom: $spacing-03 + $spacing-03;
  padding-top: $spacing-03 + $spacing-01;
  
  :global(.cds--text-input) {
    background-color: $field-01 !important;  
  }

  > * {
        position: relative;
        
        div[class*="cds--form-requirement"] {
          position: absolute;
          top: 100%;
          left: 0;
          margin-top: $spacing-01;
          z-index: 1;
        }
      }

}

.identifierTable {

  :global(tbody) {
    tr:hover td {
      cursor: default;
      border-bottom: 1px solid $border-subtle-01 !important;
    }

    td:first-child {
      width: $spacing-13 + $spacing-06;
      white-space: nowrap;
      @include type-style("heading-compact-01");
      align-content: center;
    }
  }
}

.requiredAsterisk {
  color: #da1e28;
  margin-left: $spacing-01;
  @include type-style("body-compact-01");
}
