@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;

.sortableDataTableBody {
  td {
    @include type-style("body-compact-01");
    background-color: $background;
    color: $text-primary;
    border-block-start: 1px solid $layer-accent-01 !important;
    border-block-end: 0 !important;
    height: $spacing-10;
    align-content: start;
  }
  th,
  th > button {
    background-color: $background !important;
    font-weight: normal;
    color: $text-secondary;
  }
}

.sortableDataTableSkeleton {
  td,
  th {
    background-color: $background !important;
  }
}

.sortableDataTableBodyEmpty {
  @include type-style("body-compact-01");
  background-color: $background;
  padding: $spacing-06 $spacing-05;
  text-align: center;
  border-top: 1px solid $border-subtle-02;
}
