@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;

.patientSearchContainer {
  display: flex;
  gap: $spacing-06;
  padding: $spacing-06;
  background-color: $layer-02;
  box-shadow: 0 2px 6px 0 $shadow;
}

.searchInput {
  flex: 1;
  min-width: 300px;
}

.searchButton {
  padding-right: $spacing-05 !important;
}
