@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/theme' as *;

.cancelVaccinationFormTile {
  margin: $spacing-03;
  background-color: $background !important;
  overflow: hidden !important;
  margin-left: $spacing-05;
  padding-bottom: $spacing-03;
}

.medicationInfoCard {
  background-color: $layer-01;
  padding-block: $spacing-04;
  padding-inline: 0 $spacing-04;
  margin-bottom: $spacing-07;
}

.medicationName {
  @include type-style('body-compact-01');
  font-weight: 600;
  padding: $spacing-04;
}

.medicationRoute {
  @include type-style('body-compact-01');
  color: $text-secondary;
}

.fieldsGrid {
  --cds-grid-margin: 0;
  --cds-grid-gutter: 0;
}

.fieldLabel {
  @include type-style('label-01');
  display: block;
  margin-bottom: $spacing-03;
  color: $text-secondary;
}

.noteLabelRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.noteCounter {
  @include type-style('label-01');
  color: $text-secondary;
  margin-top: $spacing-03;
}

.addNoteLink {
  @include type-style('body-compact-01');
  color: $link-primary;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: $spacing-03;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
