.opdVisitGroup {
  display: flex;
  align-items: center;
  overflow: visible;
  :global(#opd-visit-button) {
    background: var(--button-button-primary, #007d79) !important;
    overflow-y: visible;
  }

  :global(#opd-visit-dropdown) {
    background: var(--button-button-primary, #007d79) !important;
    overflow: visible;
  }

  :global(.cds--list-box__menu) {
    background: #ffffff !important;
    overflow: visible;
    left:auto !important;
  }
}