@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.form {
  margin: $spacing-03;
  background-color: $background;
}

.title {
  @include type-style("heading-compact-02");
  padding-bottom: $spacing-05;
}

.loading {
  max-inline-size: 100% !important;
}

.error {
  @include type-style("body-compact-02");
  color: $text-error;
  padding: $spacing-07;
  justify-self: center;
  font-style: italic;
}

.itemsBox {
  margin-top: $spacing-05;
}

.selectedItem {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid $border-subtle-02;
  padding-bottom: $spacing-06;
}

.selectedItem:last-of-type {
  border: 0;
}
