@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.column {
  margin-bottom: $spacing-04;
  margin-left: 0;
}

.itemTitle {
  @include type-style("heading-compact-02");
  margin-bottom: $spacing-04;
  margin-left: 0;
  .itemDetails {
    @include type-style("body-compact-02");
  }
  .doseForm {
    @include type-style("body-compact-02");
    color: $text-secondary;
    display: block;
    margin-top: $spacing-02;
  }
}

.itemActions {
  display: flex !important;
  flex-direction: row !important;
  align-items: start !important;
  justify-self: end;
  margin-bottom: $spacing-04;
  margin-left: 0;
}

.dosageControls {
  display: flex !important;
  flex-direction: row !important;
  align-items: baseline !important;
  flex-wrap: nowrap;
  margin-bottom: $spacing-04;
  margin-left: 0;
}

.dosageInput {
  flex: 0 0 calc(50% - $spacing-01) !important;
  min-width: 0;
  margin-right: $spacing-01;

  :global(.cds--number__control-btn.up-icon) {
    order: unset !important;
  }
}

.dosageUnit {
  flex: 0 0 50%;
  min-width: 0;
}

.durationControls {
  display: flex !important;
  flex-direction: row !important;
  align-items: baseline !important;
  flex-wrap: nowrap;
  margin-bottom: $spacing-04;
  margin-left: 0;
}

.durationInput {
  flex: 0 0 calc(50% - $spacing-01) !important;
  min-width: 0;
  margin-right: $spacing-01;

  :global(.cds--number__control-btn.up-icon) {
    order: unset !important;
  }
}

.durationUnit {
  flex: 0 0 50%;
  min-width: 0;
}

.footerRow {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.statControl {
  padding-inline: 0.625rem;
}

.datePicker > div {
    display: block;
    min-inline-size: -webkit-fill-available !important;
    > div {
      display: block;
      > div {
        display: block;
      }
      input {
        inline-size: -webkit-fill-available !important;
      }
    }
  }
