@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/spacing" as *;

.completedStatus {
  color: $green-50;
}

.activeStatus {
  color: $blue-50;
}

.scheduledStatus {
  color: $yellow-20;
}

.cancelledStatus {
  color: $cool-gray-50;
}

.stoppedStatus {
  color: $red-50;
}

.defaultStatus {
  color: $cool-gray-20;
}

.tasksTableBody {
  padding: 0 !important;
  td {
    width: 16%;
    border-block-end: 0 !important;
  }
}

.emptyState {
  padding: $spacing-05;
  text-align: center;
  @include type-style("body-compact-01");
  color: $text-secondary;
}
