@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/spacing" as *;

.rowCell {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: $spacing-03;;
  padding: $spacing-03 !important;
  min-block-size: $spacing-08;
}

.header {
  @include type-style("body-compact-01");
  flex: 0 0 30%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
}

.value {
  @include type-style("body-compact-01");
  flex: 0 0 30%;
  max-width: 30%;
}

.info {
  @include type-style("body-compact-01");
  margin-left:auto;
  margin-right:$spacing-07;
  display: flex;
  flex-direction: column;
}
