@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;

:global([data-split-view] #main-display-area #generic-service-request-table) {
  div[id^="accordion-item"] {
    overflow-x: auto;
  }
}

.inProgressStatus {
  color: $yellow-70;
}

.completedStatus {
  color: $green-50;
}

.revokedStatus {
  color: $cool-gray-20;
}

.unknownStatus {
  color: $cool-gray-20;
}

.requestName {
  @include type-style("heading-compact-01");
  color: $text-primary;
  display: flex;
  align-items: center;
  gap: $spacing-02;
}

.serviceRequestTableBody {
  td:not(:first-child) {
    width: 25%;
    border-block-end: 0 !important;
  }
}

.urgentCell {
  background-color: $yellow-20 !important;
  color: $yellow-70 !important;
}


.customAccordianItem {
  background-color: $layer-01;
  :global(.cds--accordion__content) {
    margin-inline-start: 0rem !important;
    padding-inline: 0rem !important;
  }
  :global(.cds--accordion__wrapper) {
    padding-block: 0rem !important;
    padding-block-end: 0rem !important;
  }
}

.expandableContentSpacer {
  border: none !important;
}

.expandedContent {
  padding: 0 !important;
}
