@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/spacing" as *;

.allergiesTableError {
  @include type-style("body-compact-01");
  background-color: $background;
  padding: $spacing-06 $spacing-05;
  text-align: center;
}

.mildSeverity {
  background-color: $blue-20 !important;
  color: $blue-70 !important;
}

.moderateSeverity {
  background-color: $yellow-20 !important;
  color: $yellow-70 !important;
}

.severeSeverity {
  background-color: $red-20 !important;
  color: $red-70 !important;
}

.allergyName {
  @include type-style("body-compact-01");
  color: $text-primary;
  font-weight: 700;
  display: flex;
  gap: $spacing-02;
}

.allergyCategory {
  @include type-style("body-compact-01");
  color: $text-secondary;
  text-transform: uppercase;
}

.allergyNote {
  svg {
    color: $icon-secondary !important;
  }
}

.allergiesNote {
  @include type-style("label-02");
}

.activeStatus {
  :global(.cds--tag__custom-icon) {
    color: $green-50;
  }
}
.inactiveStatus {
  :global(.cds--tag__custom-icon) {
    color: $cool-gray-20;
  }
}

.allergiesTableBody {
  :global(.cds--data-table td:nth-child(1)) {
    @include type-style("body-short-01");
    color: $text-primary;
    min-width: calc(100vw * 0.3);
  }
  :global(.cds--data-table td:nth-child(2)) {
    @include type-style("body-short-01");
    color: $text-primary;
    max-width: calc(100vw * 0.2);
  }
  :global(.cds--data-table td:nth-child(3)) {
    @include type-style("body-short-01");
    color: $text-primary;
    max-width: calc(100vw * 0.075);
  }
  :global(.cds--data-table td:nth-child(4)) {
    @include type-style("body-short-01");
    color: $text-primary;
    max-width: calc(100vw * 0.075);
  }
}
